.red {
  background-color: red !important;
}

.yellow {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: grey;
}

.bg-color {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
